.Contenedor, .Contenedor-con-Bordes, .Contenedor-con-sombra, .Contenedor-con-Imagen, .Contenedor-Texto-Menu, .Contenedor-Texto-sub-Menu, .Contenedor-Fondo-Calendario, .Contenedor-Semana, .Contenedor-Seleccion, select , .Texto-Semana, .Texto-Dia, .Dias-Semana, .Texto-Dia-aux, .Titulo-Aplicacion,.Titulo-Aplicacion2, .Mensaje, #Nombre-Aplicacion, .Separador_Modulo, .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Texto, .Lista-Aplicacion , .Lista-Fondo-Oscuro, .Lista-Fondo-Claro, .Lista-Elemento-Claro-primero, .Lista-Elemento-Claro-segundo, .Lista-Elemento-Claro-tercero, .Lista-Elemento-Oscuro-primero, .Lista-Elemento-Oscuro-segundo, .Lista-Elemento-Oscuro-tercero, .Contenedor-Formulario, .Titulo-Formulario, .Principio-Boton, .Final-Boton, .Boton-Calendario, .Contenedor-Table, .Tabla-Aplicacion , .Tabla-Fondo, .Tabla-Elemento, .Tabla-Elemento-Encabezado, .Tabla-Elemento1, .Tabla-Elemento-Encabezado1, .Tabla-Elemento2, .Tabla-Elemento-Encabezado2,.Tabla-Elemento3, .Tabla-Elemento-Encabezado3, .Tabla-Elemento4, .Tabla-Elemento-Encabezado4, .Contenedor-Elemneto-Formulario, #Main-breadcrumbs, #Main-Traza , #Main-Traza-aux, #Main-Logo 
{
    border-style:none;
    padding:0px;
	margin: 0px;
	
} 
.Texto-Identificador,  .Contenedor-Editable, .Contenedor-Editable-Fondo, .Fondo-puntoVe, .PuntoHo_Cortico, .Contenedor-Texto-sub-Menu,.Contenedor-Texto-Menu, .Contenedor-Fondo-Calendario, .Contenedor-Semana, .Contenedor-Seleccion, select, .Texto-Semana, .Texto-Dia, .Dias-Semana, .Texto-Dia-aux, .Titulo-Aplicacion, .Titulo-Aplicacion2, .Mensaje, .Separador_Modulo , .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario, .Sub-Titulo-Texto, .Lista-Aplicacion, .Lista-Fondo-Oscuro, .Lista-Fondo-Claro, .Lista-Elemento-Claro-primero, .Lista-Elemento-Claro-segundo, .Lista-Elemento-Claro-tercero, .Lista-Elemento-Oscuro-primero, .Lista-Elemento-Oscuro-segundo, .Lista-Elemento-Oscuro-tercero, .Contenedor-Formulario, .Titulo-Formulario, .Principio-Boton, .Final-Boton, .Boton-Calendario, .Contenedor-Table, .Tabla-Aplicacion , .Tabla-Fondo,.Tabla-Elemento, .Tabla-Elemento-Encabezado, .Tabla-Elemento1, .Tabla-Elemento-Encabezado1, .Tabla-Elemento2, .Tabla-Elemento-Encabezado2,.Tabla-Elemento3, .Tabla-Elemento-Encabezado3, .Tabla-Elemento4, .Tabla-Elemento-Encabezado4 , #Main-Traza , #Main-Traza-aux, #Main-Logo 
{
    float:left;
    background-repeat:no-repeat; 
} 
.Texto-Identificador, .input-style, .Text-menu-aux, .Texto_Presidente, DIV#textual, .Contenedor-Texto-Menu, .Contenedor-Texto-sub-Menu, .Texto-Semana, .Texto-Dia, .Dias-Semana, .Texto-Dia-aux, .Titulo-Aplicacion, .Titulo-Aplicacion2,.Mensaje, #Nombre-Aplicacion, .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Texto, .Titulo-Formulario, input, .Boton, .Tabla-Elemento,.Tabla-Elemento-Encabezado, .Tabla-Elemento1, .Tabla-Elemento-Encabezado1, .Tabla-Elemento2, .Tabla-Elemento-Encabezado2,.Tabla-Elemento3, .Tabla-Elemento-Encabezado3, .Tabla-Elemento4, .Tabla-Elemento-Encabezado4 
{
	
    font-size : 8pt; 
    font-family: Arial, sans-serif;
    text-decoration:none;
    border-style:none; 
    text-align:left;    
    display:inline;
}
.Contenedor-Texto-sub-Menu, .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Texto, .Boton, .Texto-Identificador, .input-style
{
  color:#666666;
  
}
.Contenedor-Texto-Menu, .Tabla-Elemento
{
  color:#333333;
}
.Titulo-Aplicacion, .Titulo-Aplicacion2, .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Titulo-Formulario, .Boton, .Tabla-Elemento-Encabezado, .Tabla-Elemento-Encabezado1, .Tabla-Elemento-Encabezado2, .Tabla-Elemento-Encabezado3, .Tabla-Elemento-Encabezado4 
{
   font-weight:bold;
}
.Titulo-Aplicacion, .Titulo-Aplicacion2, .Mensaje, .Titulo-Formulario
{
    color:#CC0000;
}
.Contenedor-Editable-Fondo
{
   background-image:url(../imagenes-aplicacion/fondo.png);
   background-repeat: repeat-y;
   margin:7px 0px 0px 0px;
}
.Fondo-puntoVe
{
   background-image:url(../imagenes-aplicacion/puntoVe.gif);
   width:1px;
   height:90px;
   margin:0px 0px 0px 0px;
}  
.EsquinasBread
{
   width:10px; 
   height:27px;
}
.Contenedor-Separador
{
    background-repeat: repeat-y;
    background-image:url(../imagenes-aplicacion/separadorNeg.png);
    width:1px; 
    height:55px;
    margin:10px 0px 0px 0px;
}
.Contenedor-con-Bordes 
{
    border-style:none;
    border-collapse: inherit;
    border-top-style:solid;
    border-width:1px; 
    border-color:#CC0000; 
    width:1100px;
    height:20px;
}
.Contenedor-con-sombra 
{
    background-repeat:repeat-y;
    margin:0px;    
}
#Contenedor-Elemneto-Formulario-aux
{
   margin:15px 0px 0px 0px;
   height:auto;
}
.Boton
{
   background-image:url(../imagenes-aplicacion/fondo_boton.png);
   height:20px;
   width:auto;
   margin:0px -7px 0px 0px;
   text-align:center;
   border:none;
   float:left;
   font-size:12px;
}
.Boton-Calendario
{
  background-image:url(../imagenes-aplicacion/boton_date.png);
  height:15px;
  width:16px;
  margin:10px 10px 0px 0px;
}
.Principio-Boton
{
   background-image:url(../imagenes-aplicacion/esquina_izquierda_botones.gif);
   width:10px; 
   height:20px;
   margin:0px -5px 0px 0px; 
}
.Final-Boton
{
   background-image:url(../imagenes-aplicacion/esquina_derecha_botones.gif);
   width:10px; 
   height:20px;
   margin:0px 10px 0px 0px;
}
.PuntoHo_Cortico
{
    background-repeat: repeat-x;
	background-image:url(../imagenes-aplicacion/puntoHo.gif);
    background-color:transparent;
    height:15px; 
	margin:10px 0px -15px 15px;
}
.PuntoHo_Cortico
{
    width:140px;
	margin:10px 0px -10px 15px;
}	
.Fondo-puntoVe
{
   background-image:url(../imagenes-aplicacion/puntoVe.gif);
   width:1px;
   height:90px;
   margin:0px 0px 0px 0px;
   background-repeat: repeat-y;
 
   
}  
DIV#Vista
{
     background-position:169px;
} 
DIV#Menu, DIV#Menu-auxiliar-superior
{  
    width:px; 
    height:600px; 
    background-image:url(../imagenes-aplicacion/degradacion.gif);
    background-repeat:repeat-x;
}
DIV#Menu-auxiliar-superior
{  
	 height:7px;
     background-image:url(../imagenes-aplicacion/cosita.png);
}
DIV#Region-Editable
{  
      width:595px;
	  margin:0px 0px 15px 15px;
}	   

body
{
   margin:0px 0px 0px 95px;
} 
img
{
     border-style:none;
}
select
{
    height:18px;
	margin:0px 0px 0px 0px;
	display:inline;
	border-style:double;
	border-color:#CCCCCC;
	border-width:1px;
	color:#333333;
}
input, .input-style
{
    border-style:double;
	border-color:#CCCCCC;
	border-width:1px;
	color:#333333;
}
.check-style
{
   border-width:0px;
}

a:hover
{
    cursor:pointer;
}

.Contenedor-Texto-Menu:hover, .Contenedor-Texto-sub-Menu:hover
{  
    background-image:url(../imagenes-aplicacion/flecha.gif);
    color:#CC0000;
}
.Contenedor-Texto-sub-Menu:hover
{  
    background-image:url(../imagenes-aplicacion/flechita.gif);
   
}

DIV#Main-externo 
{
    width:1100px;
    text-align:left;
}
DIV#Main-header 
{
    width:1130px; 
    height:72px;
    margin:0px 0px 0px 15px;
	
	
}
DIV#Main-BackCuerpoRight 
{
    background-image:url(../imagenes-aplicacion/sombrapaginaI.png);
    width:1130px; 
    background-position:right;
	float:right;
}
DIV#Main-Contenedor-footer 
{ 
    margin:0px 0px 0px 30px;
	display:inline;
	float:left;
}
DIV#Main-BackCuerpoLeft 
{
    background-image:url(../imagenes-aplicacion/sombrapaginaD.gif);
    background-position:left;
    float:left;
}
span#Main-Logo 
{
    background-image:url(../imagenes-aplicacion/logorojo.png); 
    width:170px;
    height:70px;
}

#Contenedor-Degradado
{
    width:960px;
	height:20px;
    margin:29px 0px 0px 0px ;
    float:left;
}
DIV#Logo-Continuacion 
{
    background-image:url(../imagenes-aplicacion/degradacion_roja-aux1.png); 
    width:900px;
	height:20px;
    margin:0px;
    float:left;
    
}
DIV#Logo-Medio 
{
    background-color:#CC0000;
	width:315px;
    height:20px;
    margin:0px;
    float:left;
}
DIV#Main-Cuerpo 
{
    width:1120px; 
    margin:0px 0px 0px 15px;
    padding:0px;
}
DIV#Main-Identificador_usuario 
{
  background-image:url(../imagenes-aplicacion/degradadoBien.png);
}
DIV#Main-breadcrumbs 
{  
    background-color: transparent;
    width:1100px; 
    height:27px;
}
#EsquinaBreadIzquierda
{
    background-image:url(../../plantilla/imagenes-aplicacion/esquinaizq.gif);
	float:left;
}
DIV#Main-Traza
{  
    background-color: #666666;
    width:1090px;
    height:20px;
    color:#FFFFFF;
    
}
DIV#Main-Traza-aux 
{  
    background-image:url(../imagenes-aplicacion/imagen_superior_menu.gif);
    width:167px; 
    height:20px;
    color:#FFFFFF;
    margin-top: 14px;
    
}
#EsquinaBreadDerecha
{
    background-image:url(../imagenes-aplicacion/esquinader.gif);
    float:right;
} 
span#Main-Usuario 
{
    width:505px;
    height:10px;
    margin: 3px 0px 0px 15px;
} 
span#Main-Fecha 
{
    width:200px;		
    height:15px;
    margin: 3px 15px 0px 0px;
    text-align:right;
    float:right; 
} 

.Text-menu
{  
    font-size : 12px;  
    margin:0px 0px 0px 12px;
    
}
.Contenedor-Texto-Menu
{   
    width:159px; 
    margin:5px 0px 0px 8px;
} 
.Contenedor-Texto-sub-Menu
{
   margin:3px 0px 0px 20px;
   width:139px; 
}
		   		       
span#Nombre-Aplicacion
{
    background-color:transparent;
	color:#FFFFFF;
    margin:1px 0px 0px 0px;
    float:right;
	font-size : 16px; 
	font-family: Arial, sans-serif;
  
	
}
.Lista-Aplicacion, .Lista-Fondo-Oscuro, .Lista-Fondo-Claro
{
  width:580px;
  margin:10px 0px 0px 0px;
 
 
}
 .Lista-Elemento-Oscuro, .Lista-Elemento-Oscuro-primero, .Lista-Elemento-Oscuro-segundo, .Lista-Elemento-Oscuro-tercero
{
  background-color:#E8E8E8;
  margin:0px ;
}
.Lista-Fondo-Claro , .Lista-Elemento-Claro-primero, .Lista-Elemento-Claro-segundo, .Lista-Elemento-Claro-tercero	
{
  background-color:#FFFFFF;
  margin:0px;
}
.Lista-Elemento-Claro-primero, .Lista-Elemento-Claro-segundo, .Lista-Elemento-Claro-tercero, .Lista-Elemento-Oscuro-primero, .Lista-Elemento-Oscuro-segundo, .Lista-Elemento-Oscuro-tercero
{
  width:170px;
  margin:0px 0px 0px 1px;
  height:20px;
  
}
.Lista-Fondo-Oscuro
{
  margin:0px;
  background-color:#CCCCCC;
}
.Lista-Elemento-Oscuro-primero, .Lista-Elemento-Claro-primero
{
  margin:0px;
  width:238px;
}




.Contenedor-Fondo-Calendario
{
  height:157px;
  width:185px;
  border-color:#999999;
  background-color:#E8E8E8;
  border-width:1px;	
  border-style:double;
  margin:10px 0px 0px 0px;
}
.Contenedor-Semana
{
  height:20px;
  width:175px;
  margin:5px 0px 7px 5px;
  padding:0px 0px 0px 0px;
  background-color:#999999;
  
}
.Contenedor-dia
{
  height:20px;
  width:175px;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 5px;
 
  
}
.Titulo-Aplicacion, .Mensaje, .Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Texto
{
   font-size:12px;
   /*width:570px;*/
   margin:15px 0px 0px 0px;
}
.Titulo-Formulario
{
   font-size:12px;
  /* width:570px;*/
}
.Sub-Titulo-Formulario
{   
    /*width:450px;*/
}   
.Sub-Titulo-Formulario-aux
{
  /*width:400px;*/
  height:15px;
  display:inline;

  
}

.Sub-Titulo-Aplicacion, .Sub-Titulo-Formulario-aux, .Sub-Titulo-Formulario, .Sub-Titulo-Texto
{
   margin:0px;
}
.Contenedor-Seleccion
{
  height:32px;
  width:185px;
 
}
#Mes
{
  width:105px;
}
#Año
{
  width:60px;
  margin:10px 0px 0px 10px;
  
}
.Texto-Semana
{
  color:#ffffff;
  font-weight:bold;
  margin:2px 0px 0px 0px;
  font-size:12px;
  padding:0px 0px 0px 0px;
  width:24px;
  text-align:right;

}
#Dia-actual
{
  font-weight:bold;
  color:#CC0000;
}
.Texto-Dia:hover, #Dia-actual:hover
{
  font-weight:bold;
  background-color:#CC0000;
  color:#FFFFFF;
  cursor:pointer;
}
.Texto-Dia {
  height:18px;
  width:20px;
  font-size:12px;
  margin:0px 0px 0px 2px;
  color:#333333;
}

.Texto-Dia-aux
{
  font-size:12px;
  margin:0px 0px 0px 2px;
  width:15px;
  text-align:right;
}

.Dias-Semana
{
  width:24px;
  height:90px;
  margin:0px 0px 0px 0px; 
}

DIV#Logo-Final
{
    background-image:url(../imagenes-aplicacion/esquina_redonda_roja.png); 
	width:10px;
    height:20px;
    margin:0px; 
    float:left;
}   
.Separador_Modulo 
{
    background-image:url(../imagenes-aplicacion/separador_modulo.png); 
	width:580px;
	height:15px; 
	margin:10px 0px -10px 0px;
	background-repeat:no-repeat; 	
}
.Contenedor-Formulario
{
    width:570px;
    margin:15px 0px 0px 0px;
    padding:5px 0px 0px 10px;
    border:none;
	
	
}
.Contenedor-Elemneto-Formulario
{
  margin:5px 0px 0px 0px;
}
#Encabezado
{
  background-color:#999999;
}
.Tabla-Aplicacion , .Tabla-Fondo
{
    width:570px;
    margin:15px 0px 0px 0px;
    border-color:#FFFFFF;
}
.Tabla-Fondo
{
   height:36px;
   width:570px;
   margin:0px 0px 1px 0px;
}
.Tabla-Elemento, .Tabla-Elemento-Encabezado
{
   height:16px;
   width:170px;
   font-size:12px;
   background-color:#E8E8E8;
   margin:0px 1px 0px 0px;
   padding:3px 0px 0px 10px;
}
.Tabla-Elemento-Encabezado
{
   width:180px;
   background-color:#999999;
   text-align:center;
   color:#FFFFFF;
   padding:3px 0px 0px 0px;
}

/* por franklim guerra: .Tabla-Elemento1, .Tabla-Elemento-Encabezado1, .Tabla-Elemento2, .Tabla-Elemento-Encabezado2,.Tabla-Elemento3, .Tabla-Elemento-Encabezado3     */

.Tabla-Elemento4, .Tabla-Elemento-Encabezado4
{
   height:32px;
   width:170px;
   font-size:12px;
   background-color:#E8E8E8;
   margin:0px 1px 0px 0px;
   padding:3px 0px 0px 10px;
   text-align:center;
}
.Tabla-Elemento-Encabezado4
{
   width:180px;
   background-color:#999999;
   text-align:center;
   color:#FFFFFF;
   padding:3px 0px 0px 0px;
}


.Tabla-Elemento1, .Tabla-Elemento-Encabezado1, .Tabla-Elemento2, .Tabla-Elemento-Encabezado2,.Tabla-Elemento3, .Tabla-Elemento-Encabezado3, .Tabla-Elemento3
{
	height:32px;
	background-color:#E8E8E8;
	margin:0px 1px 0px 0px;
    padding:3px 0px 0px 10px;
	
   
    font-family: Arial, sans-serif;
    font-size:11px;
    color:#494949;
    text-decoration:none;
    border-style:none; 
    text-align:left;    
    display:inline;
}



.Tabla-Elemento1, .Tabla-Elemento-Encabezado1
{
   width:80px;
   text-align:center;
}

.Tabla-Elemento-Encabezado1
{
   width:90px;
   background-color:#999999;
   text-align:center;
   font-size:12px;
   color:#FFFFFF;
   padding:3px 0px 0px 0px;
}
.Tabla-Elemento2, .Tabla-Elemento-Encabezado2
{
   width:280px;
}

.Tabla-Elemento-Encabezado2
{
   width:290px;
   background-color:#999999;
   text-align:center;
   font-size:12px;
   color:#FFFFFF;
   padding:3px 0px 0px 0px;
}

.Tabla-Elemento3, .Tabla-Elemento-Encabezado3
{
   width:80px;
   text-align:center;
}

.Tabla-Elemento-Encabezado3
{
   width:90px;
   background-color:#999999;
   text-align:center;
   font-size:12px;
   color:#FFFFFF;
   padding:3px 0px 0px 0px;
}

.Mensaje
{
	text-decoration:none;
    border-style:none; 
    text-align:left;    
    display:inline;
}

.Titulo-Aplicacion2
{
margin:0px 0px 0px 0px;
}

.Titulo-pcp
{
	color: #CC0000;
	font-weight: bold;
	border-style:none;
	font-size : 18pt; 
    font-family: Arial, sans-serif;
    text-decoration:none;
    border-style:none; 
}

/* por Daniel Rengifo */
.EstiloRojoF12 {font-family: Arial; font-size: 12px; font-weight: bold;  background-color:#FF0000}
.Color_12_rojo {font-family: Arial; font-size: 12px;	font-weight: bold; color:#FF0000 }
.Gris_8  {font-family: Arial; font-size: 8px;  font-weight: bold; color:#333333 }
.Gris_10 {font-family: Arial; font-size: 10px; font-weight: bold; color:#333333 }
.Gris_12 {font-family: Arial; font-size: 12px; font-weight: bold; color:#333333 }
.GrisC_8  {font-family: Arial; font-size: 8px;  font-weight: bold; color:#666666 }
.GrisC_10 {font-family: Arial; font-size: 10px; font-weight: bold; color:#666666 }
.GrisC_12 {font-family: Arial; font-size: 12px; font-weight: bold; color:#666666 }
.Rojo_10 {font-family: Arial; font-size: 10px; font-weight: bold; color:#FF0000 }
.Rojo_12 {font-family: Arial; font-size: 12px; font-weight: bold; color:#FF0000 }
.Rojo_18 {font-family: Arial; font-size: 16px; font-weight: bold; color:#990000 }
.Azul_18 {font-family: Arial; font-size: 16px; font-weight: bold; color:#000055 }
.Azul_14 {font-family: Arial; font-size: 14px; font-weight: bold; color:#000055 }
.Azul_12 {font-family: Arial; font-size: 12px;	font-weight: bold; color:#0033cc }
.Azul_11 { font-family:Arial, Helvetica, sans-serif; font-size:11px;  color: #000066;}
.Azul_11b{ font-family:Arial, Helvetica, sans-serif; font-size:11px;  color: #000066; font-weight: bold;}
.Azul_10 { font-family:Arial, Helvetica, sans-serif; font-size:10px;  color: #000066;}
.Azul_10b{ font-family:Arial, Helvetica, sans-serif; font-size:10px;  color: #000066; font-weight: bold;}
.Azul_9 { font-family:Arial, Helvetica, sans-serif;  font-size:9px;  color: #000066;}
.Azul_9b{ font-family:Arial, Helvetica, sans-serif;  font-size:9px;  color: #000066; font-weight: bold;}
.Azul_5 {font-family: Arial; font-size: 5px;	font-weight: bold; color:#0033cc }
.Blanco_10 {font-family: Arial; font-size: 10px; font-weight: bold; color:#FFFFFF }
